main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.notification-wrapper {
    --background-color: rgb(245, 245, 245);
    border-radius: 8px;
    width: 1000px;
    max-width: 1000px;
    height: 100%;
    padding: 20px;
    margin-top: 32px;
}

.notification--items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px darkgray solid;
    color: black;
    min-height: 40px;
}

.notification-top {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.notification-top iconify-icon {
    color: var(--color-primary);
}

.notification-title {
    font-size: 1.7em;
}

.notification-subtitle{
    font-size: 1.1em;
}

a input[type=checkbox] {
    accent-color: var(--color-primary);
}

label {
    margin-left: 3px;
}

iconify-icon {
    margin-left: 3px;
}

